<script setup>
import InputLabel from "@/Components/InputLabel.vue"
const props = defineProps({
  list: Array,
  label: {
    type: String,
    default: 'Select'
  }
})
const model = defineModel({
  type: Number,
  required: true,
})
const emits = defineEmits(['select'])
</script>

<template>
  <div>
    <InputLabel
      :value="label"/>
    <select v-model="model" @change="emits('select', item)" class="bg-gray-800">
      <option :value="null">Show all</option>
      <option v-for="item in list" :key="item.id" :value="item.id">{{ item.name }}</option>
    </select>
  </div>
</template>

<style scoped>

</style>