<script setup>
import {usePage} from "@inertiajs/vue3"
import ProductItem from "@/Components/ProductItem.vue"

const props = defineProps({
  list: Array
})
const page = usePage()
</script>

<template>
  <div class="p-2">
    <div v-if="list?.length > 0">
      <product-item
        v-for="product in list"
        :key="product.id"
        :product="product"
        class="border-b border-gray-400 last:border-0"/>
    </div>

    <div v-else>
      <p class="p-4">Not added any products yet</p>
    </div>
  </div>
</template>

<style scoped>

</style>