<script setup>
import SecondaryButton from "@/Components/SecondaryButton.vue"
import Modal from "@/Components/Modal.vue"
import {onMounted, ref} from "vue"
import TextInput from "@/Components/TextInput.vue"
import InputError from "@/Components/InputError.vue"
import InputLabel from "@/Components/InputLabel.vue"
import {useForm} from "@inertiajs/vue3"
import PrimaryButton from "@/Components/PrimaryButton.vue"

const props = defineProps({
  product: Object
})
const form = useForm({
  name: props.product.name,
  sku: props.product.sku,
  url: props.product.url,
  thumbnail: props.product.thumbnail,
  occassion: props.product.occassion,
  season: props.product.season,
  badges: props.product.badges,
  price: props.product.price,
  description: props.product.description,
  brand_id: props.product.brand_id,
  rating_avg: props.product.rating_avg,
  rating_count: props.product.rating_count,
  inventory_count: props.product.inventory_count,
  sizes: [],
})
const showDialog = ref()
const saveProduct = () => {
  form.put(route('products.update', props.product.id), {
    errorBag: 'someError',
    preserveScroll: true,
    onError: () => {
      console.log('error')
    },
    onSuccess: () => {
      console.log('success')
      showDialog.value = false
    },
  })
}
onMounted(() => {
  if(props.product.sizes?.length > 0){
    form.sizes = props.product.sizes.map(el => el.id)
  }
})
</script>

<template>
  <div class="flex">
    <div class="img w-64 h-64 min-w-64 aspect-square p-4">
      <div class=" overflow-hidden rounded-lg w-full h-full bg-gray-200">
        <img :src="product.thumbnail"
             :alt="'product photo: ' + product.name"
             class="w-full h-full object-center object-cover">
      </div>
    </div>

    <div class="w-full">
      <!-- row 1 -->
      <div class="flex">
        <!-- id, name -->
        <div class="flex-1 p-4">
          <div class="text-2xl font-bold">{{ product.name }}</div>
          <div class="text-sm flex gap-2">
            <div>
              id: <span class="text-gray-400">{{ product.id }}</span>
            </div>
            <div>
              sku: <span class="text-gray-400">{{ product.sku }}</span>
            </div>
          </div>
        </div>

        <!-- sku -->

        <!-- Brand -->

        <!-- Price -->
        <div class="text-sm p-4">
          <div class="flex gap-2">
            <div class="text-gray-400">Brand</div>
            <div v-if="product.brand_id">
              {{ product.brand.name }}
            </div>
            <div v-else>no brand</div>
          </div>

          <div class="flex gap-2">
            <div class="text-gray-400">Price</div>
            <div>{{ product.price }}</div>
          </div>
          <div class="flex gap-2">
            <div class="text-gray-400">Retail Price</div>
            <div>{{ product.retail_price }}</div>
          </div>
        </div>

        <!-- others: ratings, counts -->
        <div class="p-4">
          <div class="flex items-center gap-2">
            <span class="text-sm text-gray-400 flex gap-2">Rating average:</span>
            {{ product.rating_avg }}
          </div>

          <div class="flex items-center gap-2">
            <span class="text-sm text-gray-400 flex gap-2">Rating count:</span>
            {{ product.rating_count }}
          </div>

          <div class="flex items-center gap-2">
            <span class="text-sm text-gray-400 flex gap-2">Inventory count:</span>
            {{ product.inventory_count }}
          </div>
        </div>

        <!-- actions -->
        <div class="p-4">
          <secondary-button @click="showDialog = true">edit</secondary-button>
        </div>
      </div>
      <!-- row 2 -->
      <div class="flex">
        <!-- Description -->
        <div class="flex-1 p-4">
          <div class="text-sm text-gray-400 flex gap-2">Description</div>
          <div>{{ product.description }}</div>
        </div>

        <!-- Categories -->
        <div class="flex-1 p-4">
          <div class="text-sm text-gray-400 flex gap-2">Categories:</div>
          <ul v-if="product.categories?.length > 0">
            <li v-for="cat in product.categories"
                :key="cat.id" class="list-disc">
              {{ cat.name }}
            </li>
          </ul>
          <div v-else>not any yet</div>
        </div>

        <!-- Sizes -->
        <div class="p-4">
          <div class="text-sm text-gray-400 flex gap-2">Sizes</div>
          <ul v-if="product.sizes?.length > 0">
            <li v-for="size in product.sizes"
                :key="size.id" class="list-disc">
              {{ size.name }}
            </li>
          </ul>
          <div v-else>no size</div>
        </div>
      </div>
    </div>

    <modal
      :show="showDialog"
      closeable
      @close="showDialog = false">
      <div class="text-white p-6">
        <div class="flex items-center mb-6">
          <h2>Edit Product</h2>
          <secondary-button
            class="ml-auto"
            @click="showDialog = false">
            close
          </secondary-button>
        </div>

        <div class="form">
          edit product details, except for Product_ID, Category_ID, and Retail_Price
          <!-- name -->
          <div class="mb-4">
            <InputLabel for="name" value="Name" />
            <TextInput
              id="name"
              type="text"
              class="mt-1 block w-full"
              v-model="form.name"
              required
              autofocus/>
            <InputError class="mt-2" :message="form.errors.name" />
          </div>
          <!-- sku -->
          <div class="mb-4">
            <InputLabel for="sku" value="SKU" />
            <TextInput
              id="sku"
              type="text"
              class="mt-1 block w-full"
              v-model="form.sku"
              required/>
            <InputError class="mt-2" :message="form.errors.sku" />
          </div>
          <!-- url -->
          <div class="mb-4">
            <InputLabel for="url" value="url" />
            <TextInput
              id="url"
              type="text"
              class="mt-1 block w-full"
              v-model="form.url"
              required/>
            <InputError class="mt-2" :message="form.errors.url" />
          </div>
          <!-- thumbnail -->
          <div class="mb-4">
            <InputLabel for="thumbnail" value="thumbnail" />
            <TextInput
              id="thumbnail"
              type="text"
              class="mt-1 block w-full"
              v-model="form.thumbnail"
              required/>
            <InputError class="mt-2" :message="form.errors.thumbnail" />
          </div>
          <!-- occassion -->
          <div class="mb-4">
            <InputLabel for="occassion" value="occassion" />
            <TextInput
              id="occassion"
              type="text"
              class="mt-1 block w-full"
              v-model="form.occassion"
              required/>
            <InputError class="mt-2" :message="form.errors.occassion" />
          </div>
          <!-- season -->
          <div class="mb-4">
            <InputLabel for="season" value="season" />
            <TextInput
              id="season"
              type="text"
              class="mt-1 block w-full"
              v-model="form.season"
              required/>
            <InputError class="mt-2" :message="form.errors.season" />
          </div>
          <!-- badges -->
          <div class="mb-4">
            <InputLabel for="badges" value="badges" />
            <TextInput
              id="badges"
              type="text"
              class="mt-1 block w-full"
              v-model="form.badges"
              required/>
            <InputError class="mt-2" :message="form.errors.badges" />
          </div>
          <!-- price -->
          <div class="mb-4">
            <InputLabel for="price" value="price" />
            <TextInput
              id="price"
              type="number"
              class="mt-1 block w-full"
              v-model="form.price"
              required/>
            <InputError class="mt-2" :message="form.errors.price" />
          </div>
          <!-- description -->
          <div class="mb-4">
            <InputLabel for="description" value="description" />
            <TextInput
              id="description"
              type="text"
              class="mt-1 block w-full"
              v-model="form.description"
              required/>
            <InputError class="mt-2" :message="form.errors.description" />
          </div>
          <!-- brand -->
          <div class="mb-4">
            <InputLabel for="brand" value="brand" />

            <select
              id="brand"
              v-model="form.brand_id"
              class="bg-gray-800">
              <option disabled value="">Select brand</option>
              <option v-for="brnd in $page.props.brands"
                      :key="brnd.id"
                      :selected="brnd.id === product.brand_id"
                      :value="brnd.id">{{ brnd.name }}</option>
            </select>
            <InputError class="mt-2" :message="form.errors.brand_id" />
          </div>
          <!-- sizes -->
          <div class="mb-4">
            <InputLabel for="sizes" value="sizes" />
            <select
              id="sizes"
              multiple
              v-model="form.sizes"
              class="bg-gray-800">
<!--              <option disabled value="">Select sizes</option>-->
              <option v-for="sz in $page.props.sizes"
                      :key="sz.id"
                      :selected="sz.id === product.sizes.find(s => s.id === sz.id)"
                      :value="sz.id">{{ sz.name }}</option>
            </select>
            <InputError class="mt-2" :message="form.errors.sizes" />
          </div>

          <!-- rating_avg -->
          <div class="mb-4">
            <InputLabel for="rating_avg" value="rating_avg" />
            <TextInput
              id="rating_avg"
              type="number"
              class="mt-1 block w-full"
              v-model="form.rating_avg"
              required/>
            <InputError class="mt-2" :message="form.errors.rating_avg" />
          </div>
          <!-- rating_count -->
          <div class="mb-4">
            <InputLabel for="rating_count" value="rating_count" />
            <TextInput
              id="rating_count"
              type="number"
              class="mt-1 block w-full"
              v-model="form.rating_count"
              required/>
            <InputError class="mt-2" :message="form.errors.rating_count" />
          </div>
          <!-- inventory_count -->
          <div class="mb-4">
            <InputLabel for="inventory_count" value="inventory_count" />
            <TextInput
              id="inventory_count"
              type="number"
              class="mt-1 block w-full"
              v-model="form.inventory_count"
              required/>
            <InputError class="mt-2" :message="form.errors.inventory_count" />
          </div>
        </div>
        <div class="mt-4 flex justify-between">
          <secondary-button @click="showDialog = false">cancel</secondary-button>
          <primary-button @click="saveProduct">save</primary-button>
        </div>
      </div>
    </modal>
  </div>
</template>

<style scoped>

</style>