<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue'
import {Head, usePage} from '@inertiajs/vue3'
import ProductList from "@/Components/ProductList.vue"
import NavLink from "@/Components/NavLink.vue"
import {onMounted, ref} from "vue"
import SecondaryButton from "@/Components/SecondaryButton.vue"
import MySelect from "@/Components/MySelect.vue"

const props = defineProps({
  products: Array,
  categories: Array,
  brands: Array,
  sizes: Array,
})

const showitems = ref()
const page = usePage()
const category = ref(null)
const brand = ref(null)
const size = ref(null)

const sortItems = () => {
  showitems.value = props.products
  if(category.value) showitems.value = showitems.value.filter(el => el.categories.find(cat => cat.id === category.value))
  if(size.value) showitems.value = showitems.value.filter(el => el.sizes.find(sz => sz.id === size.value))
  if(brand.value) showitems.value = showitems.value.filter(el => el.brand.id === brand.value)
}

const clearFilters = () => {
  category.value = null
  brand.value = null
  size.value = null
  sortItems()
}
onMounted(() => {
  sortItems()
})
</script>

<template>
  <Head title="Products"/>

  <AuthenticatedLayout>
    <template #header>
      <div class="flex items-center justify-between">
        <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">Products</h2>
        <div class="ml-auto">
          <NavLink :href="route('products.create')">
            Import feed
          </NavLink>
        </div>
      </div>
    </template>

    <!-- filters -->
    <div class="pt-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-gray-800 text-gray-100 overflow-hidden shadow-sm sm:rounded-lg p-6">
          <div class="flex gap-2">
            <my-select
              label="Category"
              :list="categories"
              @select="sortItems"
              v-model="category"/>
            <my-select
              label="Brands"
              :list="brands"
              @select="sortItems"
              v-model="brand"/>
            <my-select
              label="Sizes"
              :list="sizes"
              @select="sortItems"
              v-model="size"/>

            <secondary-button
              class="ml-auto"
              @click="clearFilters">
              clear
            </secondary-button>
          </div>
        </div>
      </div>
    </div>

    <!-- list -->
    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-gray-800 text-gray-100 overflow-hidden shadow-sm sm:rounded-lg">
          <product-list :list="showitems"/>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
