<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue'
import {Head, useForm} from '@inertiajs/vue3'
import NavLink from "@/Components/NavLink.vue"
import InputLabel from "@/Components/InputLabel.vue"
import PrimaryButton from "@/Components/PrimaryButton.vue"
import {ref} from "vue"
import SecondaryButton from "@/Components/SecondaryButton.vue"
const form = useForm({
  method: 'POST',
  file: null
})
const formref = ref(null)
const photoInput = ref(null)
const sendForm = () => {
  form.post(route('products.store'))
}
const selectNewPhoto = () => {
  photoInput.value.click()
}
const updatePhotoPreview = () => {
  form.file = photoInput.value.files[0]
}
const clearForm = () => {
  form.file = null
  formref.value.reset()
}
</script>

<template>
  <Head title="Update products"/>

  <AuthenticatedLayout>
    <template #header>
      <div class="flex items-center justify-between">
        <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">Update products</h2>
        <div class="ml-auto">
          <NavLink :href="route('products.index')" :active="route().current('products.index')">
            Return to product list
          </NavLink>
        </div>
      </div>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-gray-800 text-gray-100 overflow-hidden shadow-sm sm:rounded-lg">
          <div class="p-6 flex">
            <form ref="formref" @submit.prevent="sendForm">
              <InputLabel
                value="Click to select xml file"
                class="p-4 border border-gray-400 rounded-md hover:!cursor-pointer hover:!bg-gray-800"
                @click.prevent="selectNewPhoto"/>

              <input
                required
                ref="photoInput"
                type="file"
                name="image"
                class="hidden"
                @change="updatePhotoPreview">

              <div v-if="form.file" class="my-4 flex items-center gap-4">
                File: <span class="text-gray-400">{{ form.file.name }}</span>
                <secondary-button @click="clearForm">select another</secondary-button>
              </div>

              <div class="mt-6">
                <primary-button :disabled="!form.file">Завантажити</primary-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
