<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue'
import {Head} from '@inertiajs/vue3'
import ProductList from "@/Components/ProductList.vue"
import NavLink from "@/Components/NavLink.vue"
</script>

<template>
  <Head title="Products"/>

  <AuthenticatedLayout>
    <template #header>
      <div class="flex items-center justify-between">
        <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">Product Edit</h2>
        <div class="ml-auto">
          <NavLink :href="route('products.index')" :active="route().current('products.index')">
            Return to product list
          </NavLink>
        </div>
      </div>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-gray-800 text-gray-100 overflow-hidden shadow-sm sm:rounded-lg">
          edit product
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
